<?xml version="1.0"?>
<config>
  <modules>
    <JQ_CustomWidgets>
      <version>0.0.2</version>
    </JQ_CustomWidgets>
  </modules>
  <global>
    <helpers>
      <customwidgets>
        <class>JQ_CustomWidgets_Helper</class>
      </customwidgets>
    </helpers>
    <blocks>
      <customwidgets>
        <class>JQ_CustomWidgets_Block</class>
      </customwidgets>
    </blocks>
  </global>
  <adminhtml>
      <translate>
          <modules>
              <JQ_CustomWidgets>
                  <files>
                      <default>JQ_CustomWidgets.csv</default>
                  </files>
              </JQ_CustomWidgets>
          </modules>
      </translate>
  </adminhtml>
</config>